[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "~=3.4.18.65"
opencv-contrib-python = "~=3.4.18.65"
urx = "*"
math3d = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11.3"
